@model GroceryCart

@{
    ViewData["Title"] = "Index";
}

<div class="w3-padding-large" style="margin: 2vw">
    <h2 class="w3-center">CART</h2>
    @if (Model.GroceryCartProducts.Count == 0)
    {
        <p class="w3-center">You have nothing scheduled,<a asp-controller="GroceryProduct" asp-action="Index"> check out some animals or host an event!</a></p>
    }

    else
    {
        <h3>VISITS</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>Price</th>
                    <th>ID</th>
                    <th>Quantity</th>

                </tr>
            </thead>
            <tbody>
                @foreach (var product in Model.GroceryCartProducts)
                {
                    <tr>
                        <td>@product.GroceryProduct.Name</td>
                        <td>@product.GroceryProduct.Price</td>
                        <td>@product.GroceryProduct.ID</td>
                        <td>@product.Quantity</td>
                        <td style="border: none">
                            <form asp-action="remove" method="post">
                                <input type="hidden" name="id" value="@product.ID" />
                                <button class="w3-bar-item w3-button" style="border: solid;">Remove</button>
                            </form>
                        </td>
                    </tr>
                }

            </tbody>
        </table>
    }
    <a asp-controller="Checkout" asp-action="Index" class="btn btn-primary">Checkout</a>
</div>